knowing where is the missing data is

In [ ]:
import pandas as pd

table = {

    "Name" : ["Aman","Riya",None,"Neel","simran","Arjun","Meera","dev"],

    "Age":[20,21,None,22,20,25,21,24],
    "salary":[55000,100000,40000,65000,78000,80000,92000,60000],
    "City" :["Delhi", "Mumbai",None ,"Pune","Chennai","Bangalore" ,None ,"Kolkata"]

}

dft = pd.DataFrame(table)
dft.isnull()
# dft.isnull().sum()

    Name    Age  salary   City
0  False  False   False  False
1  False  False   False  False
2   True   True    True   True
3  False  False   False  False
4  False  False   False  False
5  False  False   False  False
6  False  False   False   True
7  False  False   False  False

deleting missing values

In [49]:
dft.dropna(axis = 1,inplace=True)
dft

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7]