sorting data

In [ ]:
import pandas as pd

table = {

    "Name" : ["Aman","Riya","kavy","neel","simran","Arjun","Meera","dev"],

    "Age":[20,21,19,22,23,25,21,24],
    "joining_date":[11,12,13,14,15,16,17,18],
    "salary":[55000,100000,40000,65000,78000,80000,92000,60000],
    "City" :["Delhi", "Mumbai","ahemdabad" ,"Pune","Chennai","Bangalore" ,"surat" ,"Kolkata"]

}

dft = pd.DataFrame(table)
dft.sort_values(by="Age", ascending=False ,inplace=True)

SyntaxError: positional argument follows keyword argument (169244785.py, line 15)